.helvetica {
    font-family: 'Helvetica', san-serif;
}

.bg-deeptaupe {
    background-color: #7f636e;
}

.bg-grey {
    background-color: grey;
    border-color: black;
}

.bg-blue {
    background-color: blue;
}

.text-wh {
    color: white;
}

.txt-center {
    text-align: center; 
}

.square {
    min-height: 200px;
    box-shadow: 2px;
}

.border-blu {
    border-color: blue;
    border-width: 2px;
}

.mt-10 {
    margin-top: 10px;
}


.mt-5 {
    margin-top: 5px;
}


.rectangle {
    min-width: 200px;
    min-height: 100px;
}

.content {
    height: 100px;
    background-color: green;
    margin: 5px;
    line-height: 100px;
    color: white;
}

.footer {
    background-color: blue;
    margin: 5px;
    line-height: 50px;
}

.nav-box {
    background-color: yellow;
    margin: 2px;
    line-height: 25px;
    color: black;
}

.item-box {
    min-width: 300px;
    min-height: 150px;
    line-height: 20px;
}

.zhi {
    font-family: Zhi Mang Xing, sans-serif;
    font-size: 20px;
}