.helvetica {
    font-family: 'Helvetica', san-serif;
}

.bg-deeptaupe {
    background-color: #7f636e;
}

.bg-grey {
    background-color: grey;
    border-color: black;
}

.text-wh {
    color: white;
}

.square {
    min-width: 200px;
    min-height: 200px;
    box-shadow: 2px;
}

.border-blu {
    border-color: blue;
    border-width: 2px;
}

.mt-10 {
    margin-top: 10px;
}

.rectangle {
    min-width: 200px;
    min-height: 100px;
}

.content{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: 5px;
    line-height: 100px;
    color: white;

.